[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
fastapi = "*"
uvicorn = "*"
black = "*"
gunicorn = "*"
pymongo = "*"
pipfile = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.10"
